doctype html
head
    meta(charset='UTF-8')
    link(rel="icon" href="./images/thumbnail.png")
    link(rel='stylesheet' href='css/cards.css')
    link(rel='stylesheet' href='css/flip.css')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap')
    link(rel='stylesheet' href='css/timer.css')
    link(rel='stylesheet' href='css/main.css')
    link(rel='stylesheet' href='css/normalize.css')
    script(src='js/timer.js')
    script(src='js/bootstrap.bundle.js')
    script(src='js/plans.js')
    script(src='js/notification.js')
    script(src='js/user.js')
    script(src='js/cards.js')
    script(src='js/language.js')
    script(src='js/promo-table.js')
    script(src='js/onLoad.js')
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js')
    title GRIF

.body-container
    #notification.error-notification

    #login-popup.div.overlay.active
        div.popup
            .tabs
                .tab.button.back-button(onclick="toggleLogin()")
                    img(style="transform: rotate(180deg)" src="./images/arrow.png")
                .tab(onclick="switchLoginContent('user')") #{tr.login}
                .tab(onclick="switchLoginContent('register')") #{tr.register}
            #loginContent.content.active
                div
                    h1 #{tr.hello_again}
                    input(type="text", placeholder=tr.username, id="loginUsername")
                    input(type="password", placeholder=tr.password, id="loginPassword")
                    button(onclick='login()') #{tr.login}
            #registerContent.content
                div
                    h1 #{tr.welcome}
                    input(type="text", placeholder=tr.username, id="registerUsername")
                    input(type="password", placeholder=tr.password, id="registerPassword")
                    button(onclick='register()') #{tr.register}
    nav.navbar.navbar-expand-lg.fixed-top.custom-navbar
        .container-fluid(style='padding: 0 0 0 0')
            a.navbar-brand(href='#')
                h1(style='font-size: 40px; font-weight: 700; margin: auto;')
                    span(style="color:#FFFFFF; font-family: 'Manrope', sans-serif;") GR
                    span(style='color: #F8CA14') IF
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.custom-collapse
                    li.language-toggler-container
                        .language-toggler
                            button.language-btn.language-active#en-language(onclick="changeLanguage('en')")
                                img(src="./images/uk-flag.svg" alt="Eng")
                            button.language-btn#ru-language(onclick="changeLanguage('ru')")
                                img(src="./images/rus-flag.svg" alt="Ru")
                    li.nav-item.hidden(id='logout', onclick='logout()')
                        a.nav-link #{tr.logout}
                    li.nav-item(id='login', onclick='toggleLogin()')
                        a.nav-link #{tr.login}
                    li.nav-item.hidden(id='promos-toggler', onclick='togglePromos()')
                        a.nav-link #{tr.promos}
                    if promos
                        div#promos-container.promos-container.hidden
                            table#promos-table
                                thead
                                    th #{tr.id}
                                    th #{tr.code}
                                    th #{tr.discount}
                                    th #{tr.used}
                                    th
                                tbody
                                    thead
                                        th #{tr.id}
                                        th #{tr.code}
                                        th #{tr.discount}
                                        th #{tr.used}
                                        th
                                    tbody
                                        each promo in promos
                                            tr
                                                td #{promo._id}
                                                td #{promo.name}
                                                td #{parseInt((1-promo.discount)*100)}%
                                                td #{promo.used}
                                                td
                                                    svg#cross-icon(onclick="deletePromo('#{promo._id.toString()}')", width="24", height="24", viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg", fill="none", stroke="currentColor", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                                        line(x1="3" y1="3" x2="21" y2="21")
                                                        line(x1="3" y1="21" x2="21" y2="3")
                            div.nav-container
                                div.promo-input-container
                                    input#promo-discount.promo-input(placeholder=placeholder = tr.addDiscount type='number' name='discount' min="0" max="100" step="1")
                                    input#promo-name-input.promo-input(placeholder=placeholder = tr.add_update_promo type='text' name='promo')
                                    button(onclick='putPromo()')
                                        svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(d='M12.172 7.00017L6.808 1.63617L8.222 0.222168L16 8.00017L8.222 15.7782L6.808 14.3642L12.172 9.00017H0V7.00017H12.172Z' fill='white')
                                div.nav-buttons-container
                                    a.nav-button(onclick='prevPromos()')
                                        img(src='./images/arrow.png' alt='arrow')
                                    a.nav-button(onclick='nextPromos()')
                                        img(src='./images/arrow.png' alt='arrow')
                    else
                        div#promos-container.promos-container.hidden(style='padding: 10px')
                            table#promos-table
                                tr
                                    td #{tr.no_promos}
                            div.nav-container
                                div.promo-input-container
                                    input#promo-discount.promo-input(placeholder=placeholder = tr.addDiscount type='number' name='discount' min="0" max="100" step="1")
                                    input#promo-name-input.promo-input(placeholder=placeholder = tr.add_update_promo type='text' name='promo')
                                    button(onclick='putPromo()')
                                        svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(d='M12.172 7.00017L6.808 1.63617L8.222 0.222168L16 8.00017L8.222 15.7782L6.808 14.3642L12.172 9.00017H0V7.00017H12.172Z' fill='white')
                                div.nav-buttons-container
                                    a.nav-button(onclick='prevPromos()')
                                        img(src='./images/arrow.png' alt='arrow')
                                    a.nav-button(onclick='nextPromos()')
                                        img(src='./images/arrow.png' alt='arrow')
                    li(id='history').nav-item.history-title.hidden
                        a.nav-link #{tr.history}
                    if purchases
                        table#history-table.history
                            thead
                                tr.history-row
                                    th.history-item #{name}
                                    th.history-item #{email}
                                    th.history-item #{phone}
                                    th.history-item #{plan}
                                    th.history-item #{promo_name}
                                    th.history-item #{price}
                                    th.history-item #{date}
                            tbody
                                each purchase in purchases
                                    tr.history-row
                                        td.history-item #{purchase.name}
                                        td.history-item #{purchase.email}
                                        td.history-item #{purchase.phone}
                                        td.history-item #{purchase.plan}
                                        td.history-item #{purchase.promo}
                                        td.history-item $#{purchase.price}
                                        td.history-item #{purchase.date.getDate() + '.' + (purchase.date.getMonth() + 1) + '.' + purchase.date.getFullYear()}
                    else
                        table#history-table.history(style='padding: 10px')
                            tr
                                td #{tr.no_purchases}
                    li.nav-item
                        a.nav-link.active(aria-current='page' href='#speakers') #{tr.speakers}
                    li.nav-item
                        a.nav-link(href='#schedule') #{tr.program}
                    li.nav-item
                        a.nav-link(href='#participants') #{tr.participants}
                    li.nav-item
                        a.nav-link(href='#auditorium') #{tr.auditorium}
                    li.nav-item
                        a.nav-link(href='#plans') #{tr.plans}
                script(type='module').
                    window.addEventListener('scroll', function () {
                    document.querySelectorAll('.section').forEach((elem) => {
                    let navlink = document.querySelector(`a[href="#${elem.id}"]`);
                    if (100 >= elem.getBoundingClientRect().top) {
                    setActive(navlink);
                    }
                    });
                    });
                    function setActive(element) {
                    const listItems = document.querySelectorAll('.navbar-nav .nav-item');
                    listItems.forEach(function (item) {
                    item.classList.remove('current');
                    });
                    if(element != null) element.parentElement.classList.add('current');
                    }
    #top.section
    .main-screen
        div
            .main-content
                //
                  In this section style attribute is often used since styles of each tag are completely different.
                  Creating a separate class for each of them would produce even more ugly code
                h1 GLOBAL REALITY
                h1(style='color:#FACC14;') INVESTING FORUM
                p(style='font-weight: 400;') !{tr.slogan}
                p
                    img(style='height: 27px' src='images/location.png' alt='location')
                    |  President Hotel
                    img(style='height: 27px; margin-left: 5px' src='images/time.png' alt='time')
                    |  9:00-21:00, 25
                    |                     NOVEMBER
                a(href='#plans')
                    button.main-button #{tr.participate}
                p(style='font-size: 17px; margin-top: 1rem; font-family: Proxima Nova, sans-serif')
                    | #{tr.main_partners}:
                .partners
                    svg(xmlns='http://www.w3.org/2000/svg' width='95' height='21' viewbox='0 0 95 21' fill='none')
                        path(d='M94.4103 9.09604V7.43963H92.3536V4.86455L92.2845 4.88594L90.3148 5.4886V7.43963H87.2654V6.35201C87.2361 5.94024 87.3553 5.5316 87.6015 5.2002C87.7201 5.07006 87.8662 4.96798 88.0292 4.90136C88.1922 4.83474 88.368 4.80527 88.5438 4.81507C88.8527 4.81919 89.1572 4.88845 89.4375 5.01833L89.5133 5.05221V3.30933L89.4776 3.29641C89.1079 3.18252 88.7218 3.13099 88.3352 3.14396C87.7709 3.13506 87.2136 3.26892 86.7149 3.5331C86.2465 3.78516 85.8605 4.16676 85.6032 4.63231C85.3357 5.12719 85.2002 5.68258 85.2096 6.24503V7.43963H83.7774V9.09604H85.2096V16.0733H87.2654V9.09604H90.3148V13.5286C90.3148 15.3561 91.1759 16.2802 92.8751 16.2802C93.1686 16.2785 93.4612 16.2461 93.7479 16.1834C93.9681 16.146 94.182 16.0782 94.3835 15.982L94.4107 15.9659V14.2944L94.3269 14.3496C94.1994 14.4303 94.06 14.4905 93.9137 14.5279C93.782 14.5687 93.6454 14.5919 93.5076 14.597C93.3474 14.611 93.186 14.5897 93.0348 14.5347C92.8836 14.4796 92.7464 14.3921 92.6327 14.2783C92.4162 13.9521 92.3177 13.5618 92.3536 13.172V9.09604H94.4103ZM79.1853 14.5984C78.8572 14.6155 78.5295 14.5583 78.2267 14.431C77.9238 14.3037 77.6536 14.1097 77.4362 13.8633C76.9853 13.2689 76.7623 12.5326 76.8077 11.7879C76.7599 11.0258 76.9825 10.2713 77.4362 9.65723C77.649 9.40909 77.9157 9.21283 78.2159 9.08343C78.5161 8.95404 78.8419 8.89492 79.1684 8.9106C79.485 8.8954 79.801 8.9516 80.093 9.07505C80.3849 9.19851 80.6454 9.38605 80.8551 9.6238C81.3054 10.2324 81.5239 10.9818 81.4711 11.7371C81.5231 12.4951 81.3191 13.2485 80.8916 13.8767C80.6831 14.1216 80.4202 14.3143 80.124 14.4395C79.8277 14.5646 79.5062 14.6196 79.1853 14.5984ZM79.2767 7.22835C78.6616 7.19452 78.046 7.2871 77.468 7.50038C76.8901 7.71367 76.3619 8.04312 75.9162 8.46842C75.4992 8.92371 75.1771 9.45748 74.9687 10.0386C74.7602 10.6197 74.6695 11.2365 74.702 11.853C74.6724 12.4436 74.7622 13.0341 74.9658 13.5892C75.1694 14.1444 75.4828 14.6528 75.8872 15.0842C76.3086 15.4889 76.808 15.8034 77.355 16.0086C77.9019 16.2139 78.485 16.3055 79.0685 16.2779C79.6747 16.3077 80.2804 16.2114 80.8475 15.995C81.4145 15.7787 81.9304 15.447 82.3626 15.0209C82.7761 14.5701 83.0963 14.0419 83.3047 13.4667C83.5131 12.8916 83.6056 12.2809 83.5768 11.6698C83.6416 10.4773 83.2322 9.30762 82.4379 8.41582C82.0219 8.0099 81.5261 7.69485 80.9819 7.49066C80.4377 7.28647 79.857 7.1976 79.2767 7.22969V7.22835ZM71.387 7.22969C70.532 7.19352 69.6908 7.45346 69.0053 7.96562C68.7106 8.18939 68.4728 8.47966 68.3116 8.81275C68.1503 9.14584 68.07 9.51233 68.0773 9.88233C68.0701 10.2489 68.1382 10.613 68.2774 10.9521C68.4155 11.2646 68.6261 11.5396 68.8917 11.7545C69.2745 12.0423 69.6943 12.2774 70.1398 12.4534C70.4959 12.5933 70.843 12.7549 71.1792 12.9375C71.3561 13.0298 71.512 13.1577 71.637 13.3133C71.7286 13.4598 71.7729 13.631 71.7641 13.8036C71.7641 14.3831 71.3299 14.6657 70.4357 14.6657C70.0527 14.6565 69.6735 14.5872 69.312 14.4602C68.9007 14.3258 68.5126 14.129 68.1611 13.8767L68.0755 13.8156V15.7952L68.1067 15.8099C68.4562 15.9625 68.8218 16.0754 69.1966 16.1464C69.579 16.2299 69.9689 16.2747 70.3604 16.2802C71.2584 16.3271 72.1455 16.0659 72.8749 15.5398C73.1745 15.3098 73.4155 15.0123 73.5782 14.6714C73.7409 14.3306 73.8206 13.9561 73.8109 13.5785C73.8257 13.0397 73.647 12.5134 73.3072 12.095C72.8315 11.601 72.2449 11.2274 71.596 11.0052C71.159 10.8588 70.7477 10.645 70.3769 10.3713C70.2923 10.2833 70.2268 10.1789 70.1845 10.0644C70.1422 9.95002 70.1239 9.82808 70.1308 9.70626C70.1291 9.58611 70.1565 9.46733 70.2109 9.36017C70.2652 9.25301 70.3449 9.16067 70.4429 9.09113C70.699 8.91393 71.0069 8.82704 71.3179 8.84419C71.6711 8.84587 72.0221 8.89979 72.3596 9.00421C72.6823 9.09829 72.989 9.24044 73.2693 9.42589L73.3531 9.48339V7.60813L73.3211 7.59431C73.0233 7.47567 72.7137 7.3893 72.3975 7.33667C72.0637 7.27128 71.7248 7.23622 71.3847 7.23192L71.387 7.22969ZM62.718 14.5984C62.39 14.6155 62.0622 14.5583 61.7594 14.431C61.4565 14.3037 61.1863 14.1097 60.9689 13.8633C60.5187 13.2694 60.2959 12.534 60.3409 11.7901C60.293 11.0281 60.5156 10.2736 60.9694 9.65946C61.1821 9.41124 61.4488 9.21492 61.749 9.08552C62.0492 8.95612 62.375 8.89705 62.7015 8.91283C63.0182 8.89762 63.3342 8.95383 63.6262 9.07728C63.9181 9.20074 64.1786 9.38828 64.3883 9.62603C64.8386 10.2347 65.0571 10.984 65.0043 11.7393C65.0563 12.4973 64.8522 13.2508 64.4248 13.8789C64.2163 14.1238 63.9534 14.3166 63.6572 14.4417C63.3609 14.5669 63.0394 14.621 62.7185 14.5997L62.718 14.5984ZM62.8103 7.23058C62.1952 7.1967 61.5796 7.28926 61.0016 7.50254C60.4236 7.71582 59.8955 8.04531 59.4498 8.47065C59.0328 8.9259 58.7106 9.45965 58.5021 10.0408C58.2935 10.6219 58.2028 11.2387 58.2352 11.8552C58.2056 12.4458 58.2954 13.0364 58.4991 13.5915C58.7028 14.1467 59.0163 14.6551 59.4208 15.0864C59.8422 15.4911 60.3416 15.8057 60.8886 16.0109C61.4355 16.2161 62.0186 16.3077 62.6021 16.2802C63.2083 16.3099 63.814 16.2136 64.3811 15.9972C64.9481 15.7808 65.464 15.4492 65.8962 15.0231C66.3097 14.5723 66.6299 14.0441 66.8383 13.4689C67.0467 12.8938 67.1392 12.2831 67.1104 11.672C67.1752 10.4795 66.7656 9.30972 65.9711 8.41805C65.5552 8.01218 65.0594 7.69716 64.5153 7.49298C63.9712 7.28879 63.3906 7.19989 62.8103 7.23192V7.23058ZM55.1145 8.93512V7.43963H53.0836V16.0733H55.1145V11.6564C55.0854 11.007 55.2627 10.3651 55.6208 9.82261C55.7645 9.6063 55.9601 9.42946 56.1897 9.30829C56.4193 9.18712 56.6757 9.12549 56.9353 9.12902C57.1419 9.13216 57.3472 9.16213 57.546 9.21817C57.7134 9.25536 57.8733 9.32013 58.0194 9.40984L58.105 9.4718V7.42492L58.072 7.41066C57.8172 7.3196 57.5472 7.27858 57.2768 7.28986C56.7805 7.28498 56.2988 7.45761 55.9186 7.77662C55.5627 8.08921 55.2935 8.48841 55.1372 8.93556L55.1145 8.93512ZM49.4468 7.23147C48.5863 7.21414 47.7359 7.41861 46.9773 7.82521C46.2798 8.20905 45.7127 8.79231 45.3486 9.50033C44.9648 10.2701 44.7729 11.1213 44.7892 11.9814C44.7791 12.7569 44.9662 13.5223 45.333 14.2056C45.6811 14.8534 46.2087 15.3869 46.8525 15.7421C47.5342 16.1091 48.2987 16.295 49.0728 16.2819C49.9262 16.3093 50.7718 16.1115 51.5244 15.7083L51.5512 15.6931V13.8321L51.4656 13.8945C51.1616 14.1149 50.8268 14.2893 50.472 14.412C50.1603 14.5284 49.8315 14.5921 49.4989 14.6006C49.1478 14.6177 48.797 14.5605 48.4694 14.4329C48.1418 14.3052 47.8448 14.1099 47.5978 13.8597C47.1056 13.2928 46.854 12.5562 46.8967 11.8066C46.8593 11.0361 47.1212 10.281 47.6277 9.69913C47.8705 9.43958 48.1662 9.2351 48.4948 9.09946C48.8233 8.96383 49.1771 8.90019 49.5324 8.91283C50.2322 8.92382 50.91 9.15965 51.4656 9.58547L51.5507 9.64742V7.68613L51.5231 7.67053C51.2274 7.51857 50.9107 7.41146 50.5834 7.35271C50.2101 7.27366 49.8297 7.23288 49.4481 7.23103L49.4468 7.23147ZM43.3913 7.43919H41.3605V16.0733H43.3913V7.43919ZM42.3968 3.76132C42.075 3.75621 41.7642 3.87808 41.5316 4.10053C41.4146 4.20791 41.3217 4.33896 41.2593 4.48499C41.1968 4.63101 41.1661 4.78866 41.1692 4.94746C41.1657 5.10334 41.1957 5.25817 41.2572 5.40145C41.3188 5.54472 41.4104 5.6731 41.5258 5.77789C41.7615 5.997 42.0733 6.11565 42.395 6.10863C42.7177 6.11506 43.0303 5.99674 43.2678 5.77833C43.3848 5.6743 43.4778 5.54616 43.5406 5.40272C43.6033 5.25929 43.6342 5.10397 43.6311 4.94746C43.6328 4.79108 43.6022 4.63602 43.5414 4.49194C43.4806 4.34786 43.3908 4.21781 43.2776 4.1099C43.1615 3.99534 43.0234 3.90542 42.8717 3.84552C42.7199 3.78562 42.5577 3.75698 42.3946 3.76132H42.3968ZM37.3273 6.80222V16.0738H39.4001V4.0261H36.5317L32.8855 12.9745L29.3471 4.0261H26.3606V16.0729H28.3085V6.80132H28.3754L32.1116 16.0729H33.5826L37.2609 6.80132L37.3273 6.80222Z' fill='white')
                        path(d='M9.7859 9.55372H0.232178V0H9.7859V9.55372Z' fill='white')
                        path(d='M20.3345 9.55372H10.7808V0H20.3345V9.55372Z' fill='white')
                        path(d='M9.7859 20.1059H0.232178V10.5521H9.7859V20.1059Z' fill='white')
                        path(d='M20.3345 20.1059H10.7808V10.5521H20.3345V20.1059Z' fill='white')
                    svg(xmlns='http://www.w3.org/2000/svg' width='95' height='21' viewbox='0 0 95 21' fill='none')
                        path(d='M94.4103 9.09604V7.43963H92.3536V4.86455L92.2845 4.88594L90.3148 5.4886V7.43963H87.2654V6.35201C87.2361 5.94024 87.3553 5.5316 87.6015 5.2002C87.7201 5.07006 87.8662 4.96798 88.0292 4.90136C88.1922 4.83474 88.368 4.80527 88.5438 4.81507C88.8527 4.81919 89.1572 4.88845 89.4375 5.01833L89.5133 5.05221V3.30933L89.4776 3.29641C89.1079 3.18252 88.7218 3.13099 88.3352 3.14396C87.7709 3.13506 87.2136 3.26892 86.7149 3.5331C86.2465 3.78516 85.8605 4.16676 85.6032 4.63231C85.3357 5.12719 85.2002 5.68258 85.2096 6.24503V7.43963H83.7774V9.09604H85.2096V16.0733H87.2654V9.09604H90.3148V13.5286C90.3148 15.3561 91.1759 16.2802 92.8751 16.2802C93.1686 16.2785 93.4612 16.2461 93.7479 16.1834C93.9681 16.146 94.182 16.0782 94.3835 15.982L94.4107 15.9659V14.2944L94.3269 14.3496C94.1994 14.4303 94.06 14.4905 93.9137 14.5279C93.782 14.5687 93.6454 14.5919 93.5076 14.597C93.3474 14.611 93.186 14.5897 93.0348 14.5347C92.8836 14.4796 92.7464 14.3921 92.6327 14.2783C92.4162 13.9521 92.3177 13.5618 92.3536 13.172V9.09604H94.4103ZM79.1853 14.5984C78.8572 14.6155 78.5295 14.5583 78.2267 14.431C77.9238 14.3037 77.6536 14.1097 77.4362 13.8633C76.9853 13.2689 76.7623 12.5326 76.8077 11.7879C76.7599 11.0258 76.9825 10.2713 77.4362 9.65723C77.649 9.40909 77.9157 9.21283 78.2159 9.08343C78.5161 8.95404 78.8419 8.89492 79.1684 8.9106C79.485 8.8954 79.801 8.9516 80.093 9.07505C80.3849 9.19851 80.6454 9.38605 80.8551 9.6238C81.3054 10.2324 81.5239 10.9818 81.4711 11.7371C81.5231 12.4951 81.3191 13.2485 80.8916 13.8767C80.6831 14.1216 80.4202 14.3143 80.124 14.4395C79.8277 14.5646 79.5062 14.6196 79.1853 14.5984ZM79.2767 7.22835C78.6616 7.19452 78.046 7.2871 77.468 7.50038C76.8901 7.71367 76.3619 8.04312 75.9162 8.46842C75.4992 8.92371 75.1771 9.45748 74.9687 10.0386C74.7602 10.6197 74.6695 11.2365 74.702 11.853C74.6724 12.4436 74.7622 13.0341 74.9658 13.5892C75.1694 14.1444 75.4828 14.6528 75.8872 15.0842C76.3086 15.4889 76.808 15.8034 77.355 16.0086C77.9019 16.2139 78.485 16.3055 79.0685 16.2779C79.6747 16.3077 80.2804 16.2114 80.8475 15.995C81.4145 15.7787 81.9304 15.447 82.3626 15.0209C82.7761 14.5701 83.0963 14.0419 83.3047 13.4667C83.5131 12.8916 83.6056 12.2809 83.5768 11.6698C83.6416 10.4773 83.2322 9.30762 82.4379 8.41582C82.0219 8.0099 81.5261 7.69485 80.9819 7.49066C80.4377 7.28647 79.857 7.1976 79.2767 7.22969V7.22835ZM71.387 7.22969C70.532 7.19352 69.6908 7.45346 69.0053 7.96562C68.7106 8.18939 68.4728 8.47966 68.3116 8.81275C68.1503 9.14584 68.07 9.51233 68.0773 9.88233C68.0701 10.2489 68.1382 10.613 68.2774 10.9521C68.4155 11.2646 68.6261 11.5396 68.8917 11.7545C69.2745 12.0423 69.6943 12.2774 70.1398 12.4534C70.4959 12.5933 70.843 12.7549 71.1792 12.9375C71.3561 13.0298 71.512 13.1577 71.637 13.3133C71.7286 13.4598 71.7729 13.631 71.7641 13.8036C71.7641 14.3831 71.3299 14.6657 70.4357 14.6657C70.0527 14.6565 69.6735 14.5872 69.312 14.4602C68.9007 14.3258 68.5126 14.129 68.1611 13.8767L68.0755 13.8156V15.7952L68.1067 15.8099C68.4562 15.9625 68.8218 16.0754 69.1966 16.1464C69.579 16.2299 69.9689 16.2747 70.3604 16.2802C71.2584 16.3271 72.1455 16.0659 72.8749 15.5398C73.1745 15.3098 73.4155 15.0123 73.5782 14.6714C73.7409 14.3306 73.8206 13.9561 73.8109 13.5785C73.8257 13.0397 73.647 12.5134 73.3072 12.095C72.8315 11.601 72.2449 11.2274 71.596 11.0052C71.159 10.8588 70.7477 10.645 70.3769 10.3713C70.2923 10.2833 70.2268 10.1789 70.1845 10.0644C70.1422 9.95002 70.1239 9.82808 70.1308 9.70626C70.1291 9.58611 70.1565 9.46733 70.2109 9.36017C70.2652 9.25301 70.3449 9.16067 70.4429 9.09113C70.699 8.91393 71.0069 8.82704 71.3179 8.84419C71.6711 8.84587 72.0221 8.89979 72.3596 9.00421C72.6823 9.09829 72.989 9.24044 73.2693 9.42589L73.3531 9.48339V7.60813L73.3211 7.59431C73.0233 7.47567 72.7137 7.3893 72.3975 7.33667C72.0637 7.27128 71.7248 7.23622 71.3847 7.23192L71.387 7.22969ZM62.718 14.5984C62.39 14.6155 62.0622 14.5583 61.7594 14.431C61.4565 14.3037 61.1863 14.1097 60.9689 13.8633C60.5187 13.2694 60.2959 12.534 60.3409 11.7901C60.293 11.0281 60.5156 10.2736 60.9694 9.65946C61.1821 9.41124 61.4488 9.21492 61.749 9.08552C62.0492 8.95612 62.375 8.89705 62.7015 8.91283C63.0182 8.89762 63.3342 8.95383 63.6262 9.07728C63.9181 9.20074 64.1786 9.38828 64.3883 9.62603C64.8386 10.2347 65.0571 10.984 65.0043 11.7393C65.0563 12.4973 64.8522 13.2508 64.4248 13.8789C64.2163 14.1238 63.9534 14.3166 63.6572 14.4417C63.3609 14.5669 63.0394 14.621 62.7185 14.5997L62.718 14.5984ZM62.8103 7.23058C62.1952 7.1967 61.5796 7.28926 61.0016 7.50254C60.4236 7.71582 59.8955 8.04531 59.4498 8.47065C59.0328 8.9259 58.7106 9.45965 58.5021 10.0408C58.2935 10.6219 58.2028 11.2387 58.2352 11.8552C58.2056 12.4458 58.2954 13.0364 58.4991 13.5915C58.7028 14.1467 59.0163 14.6551 59.4208 15.0864C59.8422 15.4911 60.3416 15.8057 60.8886 16.0109C61.4355 16.2161 62.0186 16.3077 62.6021 16.2802C63.2083 16.3099 63.814 16.2136 64.3811 15.9972C64.9481 15.7808 65.464 15.4492 65.8962 15.0231C66.3097 14.5723 66.6299 14.0441 66.8383 13.4689C67.0467 12.8938 67.1392 12.2831 67.1104 11.672C67.1752 10.4795 66.7656 9.30972 65.9711 8.41805C65.5552 8.01218 65.0594 7.69716 64.5153 7.49298C63.9712 7.28879 63.3906 7.19989 62.8103 7.23192V7.23058ZM55.1145 8.93512V7.43963H53.0836V16.0733H55.1145V11.6564C55.0854 11.007 55.2627 10.3651 55.6208 9.82261C55.7645 9.6063 55.9601 9.42946 56.1897 9.30829C56.4193 9.18712 56.6757 9.12549 56.9353 9.12902C57.1419 9.13216 57.3472 9.16213 57.546 9.21817C57.7134 9.25536 57.8733 9.32013 58.0194 9.40984L58.105 9.4718V7.42492L58.072 7.41066C57.8172 7.3196 57.5472 7.27858 57.2768 7.28986C56.7805 7.28498 56.2988 7.45761 55.9186 7.77662C55.5627 8.08921 55.2935 8.48841 55.1372 8.93556L55.1145 8.93512ZM49.4468 7.23147C48.5863 7.21414 47.7359 7.41861 46.9773 7.82521C46.2798 8.20905 45.7127 8.79231 45.3486 9.50033C44.9648 10.2701 44.7729 11.1213 44.7892 11.9814C44.7791 12.7569 44.9662 13.5223 45.333 14.2056C45.6811 14.8534 46.2087 15.3869 46.8525 15.7421C47.5342 16.1091 48.2987 16.295 49.0728 16.2819C49.9262 16.3093 50.7718 16.1115 51.5244 15.7083L51.5512 15.6931V13.8321L51.4656 13.8945C51.1616 14.1149 50.8268 14.2893 50.472 14.412C50.1603 14.5284 49.8315 14.5921 49.4989 14.6006C49.1478 14.6177 48.797 14.5605 48.4694 14.4329C48.1418 14.3052 47.8448 14.1099 47.5978 13.8597C47.1056 13.2928 46.854 12.5562 46.8967 11.8066C46.8593 11.0361 47.1212 10.281 47.6277 9.69913C47.8705 9.43958 48.1662 9.2351 48.4948 9.09946C48.8233 8.96383 49.1771 8.90019 49.5324 8.91283C50.2322 8.92382 50.91 9.15965 51.4656 9.58547L51.5507 9.64742V7.68613L51.5231 7.67053C51.2274 7.51857 50.9107 7.41146 50.5834 7.35271C50.2101 7.27366 49.8297 7.23288 49.4481 7.23103L49.4468 7.23147ZM43.3913 7.43919H41.3605V16.0733H43.3913V7.43919ZM42.3968 3.76132C42.075 3.75621 41.7642 3.87808 41.5316 4.10053C41.4146 4.20791 41.3217 4.33896 41.2593 4.48499C41.1968 4.63101 41.1661 4.78866 41.1692 4.94746C41.1657 5.10334 41.1957 5.25817 41.2572 5.40145C41.3188 5.54472 41.4104 5.6731 41.5258 5.77789C41.7615 5.997 42.0733 6.11565 42.395 6.10863C42.7177 6.11506 43.0303 5.99674 43.2678 5.77833C43.3848 5.6743 43.4778 5.54616 43.5406 5.40272C43.6033 5.25929 43.6342 5.10397 43.6311 4.94746C43.6328 4.79108 43.6022 4.63602 43.5414 4.49194C43.4806 4.34786 43.3908 4.21781 43.2776 4.1099C43.1615 3.99534 43.0234 3.90542 42.8717 3.84552C42.7199 3.78562 42.5577 3.75698 42.3946 3.76132H42.3968ZM37.3273 6.80222V16.0738H39.4001V4.0261H36.5317L32.8855 12.9745L29.3471 4.0261H26.3606V16.0729H28.3085V6.80132H28.3754L32.1116 16.0729H33.5826L37.2609 6.80132L37.3273 6.80222Z' fill='white')
                        path(d='M9.7859 9.55372H0.232178V0H9.7859V9.55372Z' fill='white')
                        path(d='M20.3345 9.55372H10.7808V0H20.3345V9.55372Z' fill='white')
                        path(d='M9.7859 20.1059H0.232178V10.5521H9.7859V20.1059Z' fill='white')
                        path(d='M20.3345 20.1059H10.7808V10.5521H20.3345V20.1059Z' fill='white')
                    svg(xmlns='http://www.w3.org/2000/svg' width='95' height='21' viewbox='0 0 95 21' fill='none')
                        path(d='M94.4103 9.09604V7.43963H92.3536V4.86455L92.2845 4.88594L90.3148 5.4886V7.43963H87.2654V6.35201C87.2361 5.94024 87.3553 5.5316 87.6015 5.2002C87.7201 5.07006 87.8662 4.96798 88.0292 4.90136C88.1922 4.83474 88.368 4.80527 88.5438 4.81507C88.8527 4.81919 89.1572 4.88845 89.4375 5.01833L89.5133 5.05221V3.30933L89.4776 3.29641C89.1079 3.18252 88.7218 3.13099 88.3352 3.14396C87.7709 3.13506 87.2136 3.26892 86.7149 3.5331C86.2465 3.78516 85.8605 4.16676 85.6032 4.63231C85.3357 5.12719 85.2002 5.68258 85.2096 6.24503V7.43963H83.7774V9.09604H85.2096V16.0733H87.2654V9.09604H90.3148V13.5286C90.3148 15.3561 91.1759 16.2802 92.8751 16.2802C93.1686 16.2785 93.4612 16.2461 93.7479 16.1834C93.9681 16.146 94.182 16.0782 94.3835 15.982L94.4107 15.9659V14.2944L94.3269 14.3496C94.1994 14.4303 94.06 14.4905 93.9137 14.5279C93.782 14.5687 93.6454 14.5919 93.5076 14.597C93.3474 14.611 93.186 14.5897 93.0348 14.5347C92.8836 14.4796 92.7464 14.3921 92.6327 14.2783C92.4162 13.9521 92.3177 13.5618 92.3536 13.172V9.09604H94.4103ZM79.1853 14.5984C78.8572 14.6155 78.5295 14.5583 78.2267 14.431C77.9238 14.3037 77.6536 14.1097 77.4362 13.8633C76.9853 13.2689 76.7623 12.5326 76.8077 11.7879C76.7599 11.0258 76.9825 10.2713 77.4362 9.65723C77.649 9.40909 77.9157 9.21283 78.2159 9.08343C78.5161 8.95404 78.8419 8.89492 79.1684 8.9106C79.485 8.8954 79.801 8.9516 80.093 9.07505C80.3849 9.19851 80.6454 9.38605 80.8551 9.6238C81.3054 10.2324 81.5239 10.9818 81.4711 11.7371C81.5231 12.4951 81.3191 13.2485 80.8916 13.8767C80.6831 14.1216 80.4202 14.3143 80.124 14.4395C79.8277 14.5646 79.5062 14.6196 79.1853 14.5984ZM79.2767 7.22835C78.6616 7.19452 78.046 7.2871 77.468 7.50038C76.8901 7.71367 76.3619 8.04312 75.9162 8.46842C75.4992 8.92371 75.1771 9.45748 74.9687 10.0386C74.7602 10.6197 74.6695 11.2365 74.702 11.853C74.6724 12.4436 74.7622 13.0341 74.9658 13.5892C75.1694 14.1444 75.4828 14.6528 75.8872 15.0842C76.3086 15.4889 76.808 15.8034 77.355 16.0086C77.9019 16.2139 78.485 16.3055 79.0685 16.2779C79.6747 16.3077 80.2804 16.2114 80.8475 15.995C81.4145 15.7787 81.9304 15.447 82.3626 15.0209C82.7761 14.5701 83.0963 14.0419 83.3047 13.4667C83.5131 12.8916 83.6056 12.2809 83.5768 11.6698C83.6416 10.4773 83.2322 9.30762 82.4379 8.41582C82.0219 8.0099 81.5261 7.69485 80.9819 7.49066C80.4377 7.28647 79.857 7.1976 79.2767 7.22969V7.22835ZM71.387 7.22969C70.532 7.19352 69.6908 7.45346 69.0053 7.96562C68.7106 8.18939 68.4728 8.47966 68.3116 8.81275C68.1503 9.14584 68.07 9.51233 68.0773 9.88233C68.0701 10.2489 68.1382 10.613 68.2774 10.9521C68.4155 11.2646 68.6261 11.5396 68.8917 11.7545C69.2745 12.0423 69.6943 12.2774 70.1398 12.4534C70.4959 12.5933 70.843 12.7549 71.1792 12.9375C71.3561 13.0298 71.512 13.1577 71.637 13.3133C71.7286 13.4598 71.7729 13.631 71.7641 13.8036C71.7641 14.3831 71.3299 14.6657 70.4357 14.6657C70.0527 14.6565 69.6735 14.5872 69.312 14.4602C68.9007 14.3258 68.5126 14.129 68.1611 13.8767L68.0755 13.8156V15.7952L68.1067 15.8099C68.4562 15.9625 68.8218 16.0754 69.1966 16.1464C69.579 16.2299 69.9689 16.2747 70.3604 16.2802C71.2584 16.3271 72.1455 16.0659 72.8749 15.5398C73.1745 15.3098 73.4155 15.0123 73.5782 14.6714C73.7409 14.3306 73.8206 13.9561 73.8109 13.5785C73.8257 13.0397 73.647 12.5134 73.3072 12.095C72.8315 11.601 72.2449 11.2274 71.596 11.0052C71.159 10.8588 70.7477 10.645 70.3769 10.3713C70.2923 10.2833 70.2268 10.1789 70.1845 10.0644C70.1422 9.95002 70.1239 9.82808 70.1308 9.70626C70.1291 9.58611 70.1565 9.46733 70.2109 9.36017C70.2652 9.25301 70.3449 9.16067 70.4429 9.09113C70.699 8.91393 71.0069 8.82704 71.3179 8.84419C71.6711 8.84587 72.0221 8.89979 72.3596 9.00421C72.6823 9.09829 72.989 9.24044 73.2693 9.42589L73.3531 9.48339V7.60813L73.3211 7.59431C73.0233 7.47567 72.7137 7.3893 72.3975 7.33667C72.0637 7.27128 71.7248 7.23622 71.3847 7.23192L71.387 7.22969ZM62.718 14.5984C62.39 14.6155 62.0622 14.5583 61.7594 14.431C61.4565 14.3037 61.1863 14.1097 60.9689 13.8633C60.5187 13.2694 60.2959 12.534 60.3409 11.7901C60.293 11.0281 60.5156 10.2736 60.9694 9.65946C61.1821 9.41124 61.4488 9.21492 61.749 9.08552C62.0492 8.95612 62.375 8.89705 62.7015 8.91283C63.0182 8.89762 63.3342 8.95383 63.6262 9.07728C63.9181 9.20074 64.1786 9.38828 64.3883 9.62603C64.8386 10.2347 65.0571 10.984 65.0043 11.7393C65.0563 12.4973 64.8522 13.2508 64.4248 13.8789C64.2163 14.1238 63.9534 14.3166 63.6572 14.4417C63.3609 14.5669 63.0394 14.621 62.7185 14.5997L62.718 14.5984ZM62.8103 7.23058C62.1952 7.1967 61.5796 7.28926 61.0016 7.50254C60.4236 7.71582 59.8955 8.04531 59.4498 8.47065C59.0328 8.9259 58.7106 9.45965 58.5021 10.0408C58.2935 10.6219 58.2028 11.2387 58.2352 11.8552C58.2056 12.4458 58.2954 13.0364 58.4991 13.5915C58.7028 14.1467 59.0163 14.6551 59.4208 15.0864C59.8422 15.4911 60.3416 15.8057 60.8886 16.0109C61.4355 16.2161 62.0186 16.3077 62.6021 16.2802C63.2083 16.3099 63.814 16.2136 64.3811 15.9972C64.9481 15.7808 65.464 15.4492 65.8962 15.0231C66.3097 14.5723 66.6299 14.0441 66.8383 13.4689C67.0467 12.8938 67.1392 12.2831 67.1104 11.672C67.1752 10.4795 66.7656 9.30972 65.9711 8.41805C65.5552 8.01218 65.0594 7.69716 64.5153 7.49298C63.9712 7.28879 63.3906 7.19989 62.8103 7.23192V7.23058ZM55.1145 8.93512V7.43963H53.0836V16.0733H55.1145V11.6564C55.0854 11.007 55.2627 10.3651 55.6208 9.82261C55.7645 9.6063 55.9601 9.42946 56.1897 9.30829C56.4193 9.18712 56.6757 9.12549 56.9353 9.12902C57.1419 9.13216 57.3472 9.16213 57.546 9.21817C57.7134 9.25536 57.8733 9.32013 58.0194 9.40984L58.105 9.4718V7.42492L58.072 7.41066C57.8172 7.3196 57.5472 7.27858 57.2768 7.28986C56.7805 7.28498 56.2988 7.45761 55.9186 7.77662C55.5627 8.08921 55.2935 8.48841 55.1372 8.93556L55.1145 8.93512ZM49.4468 7.23147C48.5863 7.21414 47.7359 7.41861 46.9773 7.82521C46.2798 8.20905 45.7127 8.79231 45.3486 9.50033C44.9648 10.2701 44.7729 11.1213 44.7892 11.9814C44.7791 12.7569 44.9662 13.5223 45.333 14.2056C45.6811 14.8534 46.2087 15.3869 46.8525 15.7421C47.5342 16.1091 48.2987 16.295 49.0728 16.2819C49.9262 16.3093 50.7718 16.1115 51.5244 15.7083L51.5512 15.6931V13.8321L51.4656 13.8945C51.1616 14.1149 50.8268 14.2893 50.472 14.412C50.1603 14.5284 49.8315 14.5921 49.4989 14.6006C49.1478 14.6177 48.797 14.5605 48.4694 14.4329C48.1418 14.3052 47.8448 14.1099 47.5978 13.8597C47.1056 13.2928 46.854 12.5562 46.8967 11.8066C46.8593 11.0361 47.1212 10.281 47.6277 9.69913C47.8705 9.43958 48.1662 9.2351 48.4948 9.09946C48.8233 8.96383 49.1771 8.90019 49.5324 8.91283C50.2322 8.92382 50.91 9.15965 51.4656 9.58547L51.5507 9.64742V7.68613L51.5231 7.67053C51.2274 7.51857 50.9107 7.41146 50.5834 7.35271C50.2101 7.27366 49.8297 7.23288 49.4481 7.23103L49.4468 7.23147ZM43.3913 7.43919H41.3605V16.0733H43.3913V7.43919ZM42.3968 3.76132C42.075 3.75621 41.7642 3.87808 41.5316 4.10053C41.4146 4.20791 41.3217 4.33896 41.2593 4.48499C41.1968 4.63101 41.1661 4.78866 41.1692 4.94746C41.1657 5.10334 41.1957 5.25817 41.2572 5.40145C41.3188 5.54472 41.4104 5.6731 41.5258 5.77789C41.7615 5.997 42.0733 6.11565 42.395 6.10863C42.7177 6.11506 43.0303 5.99674 43.2678 5.77833C43.3848 5.6743 43.4778 5.54616 43.5406 5.40272C43.6033 5.25929 43.6342 5.10397 43.6311 4.94746C43.6328 4.79108 43.6022 4.63602 43.5414 4.49194C43.4806 4.34786 43.3908 4.21781 43.2776 4.1099C43.1615 3.99534 43.0234 3.90542 42.8717 3.84552C42.7199 3.78562 42.5577 3.75698 42.3946 3.76132H42.3968ZM37.3273 6.80222V16.0738H39.4001V4.0261H36.5317L32.8855 12.9745L29.3471 4.0261H26.3606V16.0729H28.3085V6.80132H28.3754L32.1116 16.0729H33.5826L37.2609 6.80132L37.3273 6.80222Z' fill='white')
                        path(d='M9.7859 9.55372H0.232178V0H9.7859V9.55372Z' fill='white')
                        path(d='M20.3345 9.55372H10.7808V0H20.3345V9.55372Z' fill='white')
                        path(d='M9.7859 20.1059H0.232178V10.5521H9.7859V20.1059Z' fill='white')
                        path(d='M20.3345 20.1059H10.7808V10.5521H20.3345V20.1059Z' fill='white')
        a(href='#footer')
            svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewbox='0 0 50 50' fill='none')
                path(d='M25 45.8333C36.5059 45.8333 45.8333 36.5059 45.8333 25C45.8333 13.494 36.5059 4.16663 25 4.16663C13.4941 4.16663 4.16667 13.494 4.16667 25C4.16667 36.5059 13.4941 45.8333 25 45.8333Z' stroke='#FACC14' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                path(d='M25 17.7084V30.2084' stroke='#FACC14' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                path(d='M18.75 26.0416L25 32.2916L31.25 26.0416' stroke='#FACC14' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    .rest-container
        #speakers.section
        .main-description-container
            .blur
            img.rectangle(src='images/rectangle.png' alt='')
            script.
                document.addEventListener("DOMContentLoaded", function () {
                const images = document.querySelectorAll("img");
                images.forEach(function (img) {
                img.addEventListener("mousedown", function (e) {
                e.preventDefault();
                });
                });
                });
            .main-description
                h1(style='font-weight: 800; font-size: 24px') #{tr.forum_speakers}
                p(style='font-weight: 250; font-size: 16px') #{tr.forum_speakers_text}
            // TODO: resolve title visual bug
            .card-container
                .carousel.card-content
                    .card-item.active.card(onclick='flip(event)')
                        .card-side.front(style='background-color: #4DE3ED;')
                            div(style='position: relative; width: 100%; height: 100%')
                                .top-description
                                    p(style='color:#4DE3ED;') #{tr.speakers_list[0].name}
                                    h1 #{tr.speakers_list[0].occupation}
                                .bottom-description
                                    h4 #{tr.forum}:
                                    h4 #{tr.forum_date}
                                    a(href="#plans")
                                        button.card-button #{tr.buy_ticket}
                                            img(src='images/arrow.png' alt='')
                            img.person-card-image(src='images/1.png' alt='')
                        .card-side.back(style='background-color: #4DE3ED;')
                            div #{tr.speakers_list[0].background}
                    .card-item.next.card(onclick='flip(event)')
                        .card-side.front(style='background-color: #ffd710;')
                            div(style='position: relative; width: 100%; height: 100%')
                                .top-description
                                    p(style='color:#ffd710;') #{tr.speakers_list[1].name}
                                    h1 #{tr.speakers_list[1].occupation}
                                .bottom-description
                                    h4 #{tr.forum}:
                                    h4 #{tr.forum_date}
                                    a(href="#plans")
                                        button.card-button #{tr.buy_ticket}
                                            img(src='images/arrow.png' alt='')
                            img.person-card-image(src='images/1.png' alt='')
                        .card-side.back(style='background-color: #ffd710;')
                            div #{tr.speakers_list[1].background}
                    .card-item.card(onclick='flip(event)')
                        .card-side.front(style='background-color: #ff1010;')
                            div(style='position: relative; width: 100%; height: 100%')
                                .top-description
                                    p(style='color:#ff1010;') #{tr.speakers_list[2].name}
                                    h1 #{tr.speakers_list[2].occupation}
                                .bottom-description
                                    h4 #{tr.forum}:
                                    h4 #{tr.forum_date}
                                    a(href="#plans")
                                        button.card-button #{tr.buy_ticket}
                                            img(src='images/arrow.png' alt='')
                            img.person-card-image(src='images/1.png' alt='')
                        .card-side.back(style='background-color: #ff1010;')
                            div #{tr.speakers_list[2].background}
                    .card-item.prev.card(onclick='flip(event)')
                        .card-side.front(style='background-color: #60d041;')
                            div(style='position: relative; width: 100%; height: 100%')
                                .top-description
                                    p(style='color:#60d041;') #{tr.speakers_list[3].name}
                                    h1 #{tr.speakers_list[3].occupation}
                                .bottom-description
                                    h4 #{tr.forum}:
                                    h4 #{tr.forum_date}
                                    a(href="#plans")
                                        button.card-button #{tr.buy_ticket}
                                            img(src='images/arrow.png' alt='')
                            img.person-card-image(src='images/1.png' alt='')
                        .card-side.back(style='background-color: #60d041;')
                            div #{tr.speakers_list[3].background}
                    .button-container
                        .button.fas.fa-angle-left
                            img(style='transform: rotate(180deg)' src='images/arrow.png' alt='')
                        .button.fas.fa-angle-right
                            img(src='images/arrow.png' alt='')
        #schedule.section
        .schedule-container
            h1.main-point #{tr.forum_program}
            p #{tr.forum_program_text}
            .schedule
                h2.schedule-title #{tr.forum_date}
                .schedule-item
                    .schedule-item-time
                        h5 #{tr.forum_program_list[0].time}
                    .schedule-item-description
                        h5 #{tr.forum_program_list[0].title}
                        p #{tr.forum_program_list[0].description}
                .schedule-item
                    .schedule-item-time
                        h5 #{tr.forum_program_list[1].time}
                    .schedule-item-description
                        h5 #{tr.forum_program_list[1].title}
                        p #{tr.forum_program_list[1].description}
                .schedule-item
                    .schedule-item-time
                        h5 #{tr.forum_program_list[2].time}
                    .schedule-item-description
                        h5 #{tr.forum_program_list[2].title}
                        p #{tr.forum_program_list[2].description}
                .schedule-item
                    .schedule-item-time
                        h5 #{tr.forum_program_list[3].time}
                    .schedule-item-description
                        h5 #{tr.forum_program_list[3].title}
                        p #{tr.forum_program_list[3].description}
                .schedule-item
                    .schedule-item-time
                        h5 #{tr.forum_program_list[4].time}
                    .schedule-item-description
                        h5 #{tr.forum_program_list[4].title}
                        p #{tr.forum_program_list[4].description}
                .schedule-item
                    .schedule-item-time
                        h5 #{tr.forum_program_list[5].time}
                    .schedule-item-description
                        h5 #{tr.forum_program_list[5].title}
                        p #{tr.forum_program_list[5].description}
                .schedule-item
                    .schedule-item-time
                        h5 #{tr.forum_program_list[6].time}
                    .schedule-item-description
                        h5 #{tr.forum_program_list[6].title}
                        p #{tr.forum_program_list[6].description}
            a(href="#plans")
                button.main-button #{tr.discover_plans}
            .ribbon-container
                .ribbon.first-ribbon
                    .ribbon-labels
                        .label
                            h2 #{tr.forum_date_short}
                        .separator &#x2726;
                        .label
                            h2 #{tr.forum_date_short}
                        .separator &#x2726;
                        .label
                            h2 #{tr.forum_date_short}
                        .separator &#x2726;
                        .label
                            h2 #{tr.forum_date_short}
                        .separator &#x2726;
                        .label
                            h2 #{tr.forum_date_short}
                        .separator &#x2726;
                        .label
                            h2 #{tr.forum_date_short}
                        .separator &#x2726;
                .ribbon.second-ribbon
                    .ribbon-labels
                        .label
                            h2 #{tr.city}
                        .separator &#x2726;
                        .label
                            h2 #{tr.city}
                        .separator &#x2726;
                        .label
                            h2 #{tr.city}
                        .separator &#x2726;
                        .label
                            h2 #{tr.city}
                        .separator &#x2726;
                        .label
                            h2 #{tr.city}
                        .separator &#x2726;
                        .label
                            h2 #{tr.city}
                        .separator &#x2726;
                        .label
                            h2 #{tr.city}
                        .separator &#x2726;
        #participants.section
        .participants
            h1.main-point #{tr.participants}
            .participants-container
                .participants-item
                    img.image(src='images/participant.jpg' alt='Participant')
                    h4 #{tr.participants_list[0]}
                .participants-item
                    img.image(src='images/participant.jpg' alt='Participant')
                    h4 #{tr.participants_list[1]}
                .participants-item
                    img.image(src='images/participant.jpg' alt='Participant')
                    h4 #{tr.participants_list[2]}
                .participants-item
                    img.image(src='images/participant.jpg' alt='Participant')
                    h4 #{tr.participants_list[3]}
                .participants-item
                    img.image(src='images/participant.jpg' alt='Participant')
                    h4 #{tr.participants_list[4]}
        .partners
            h2 #{tr.our_partners}
            p
            .partners-container
                .partners-item
                    img(src='images/Google_partner.png' alt='Google')
                .partners-item
                    img(src='images/Microsoft_partner.png' alt='Google')
                .partners-item
                    img(src='images/Airbnb_partner.png' alt='Google')
                .partners-item
                    img(src='images/Axure_partner.png' alt='Google')
                .partners-item
                    img(src='images/Apple_partner.png' alt='Google')
                .partners-item
                    img(src='images/Facebook_partner.png' alt='Google')
                .partners-item
                    img(src='images/Nokia_partner.png' alt='Google')
                .partners-item
                    img(src='images/Oracle_partner.png' alt='Google')
            a.main-button(href='#plans') #{tr.join_us}
        #auditorium.section
        .auditorium
            .auditorium-description
                h2 #{tr.auditorium_title}
                p(style='color: #828282') #{tr.auditorium_address}
                p(style='color: #E2E2E2') !{tr.auditorium_text}
                a(href="#plans")
                    button.main-button #{tr.buy_ticket}
            .auditorium-image
                img(src='images/auditorium.png' alt='auditorium')
        .timer
            .timer-container
                h1#headline #{tr.discount_ends}
                #countdown
                    ul
                        li
                            span#days
                            | #{tr.days}
                        li :
                        li
                            span#hours
                            | #{tr.hours}
                        li
                        li
                            span#minutes
                            | #{tr.minutes}
                        li :
                        li
                            span#seconds
                            | #{tr.seconds}
            .gradient-line
        #plans.section.plans
            h1.main-point #{tr.plans}
            p #{tr.plans_text}
            .plans-container
                .plan
                    img(src='images/camera.png' alt='camera')
                    h2 #{tr.online}
                    h1 $#{Math.floor(prices[0].price * (discount === undefined ? 1 : discount))}
                    p #{tr.including_taxes}
                    .included
                    ul
                        li
                            img(src='images/Check-grey.png' alt='')
                            | 01 #{tr.seat}
                        li.excluded
                            img(src='images/Close-grey.png' alt='')
                            | #{tr.breaks}
                        li.excluded
                            img(src='images/Close-grey.png' alt='')
                            | #{tr.wifi}
                        li.excluded
                            img(src='images/Close-grey.png' alt='')
                            | #{tr.exclusive_seats}
                    button(onclick='moveToItem(0)') #{tr.buy_now}
                .plan
                    img(src='images/suitcase.png' alt='camera')
                    h2 #{tr.standard}
                    h1 $#{Math.floor(prices[1].price * (discount === undefined ? 1 : discount))}
                    p #{tr.including_taxes}
                    .included
                    ul
                        li
                            img(src='images/Check-black.png' alt='')
                            | 02 #{tr.seats}
                        li
                            img(src='images/Check-black.png' alt='')
                            | #{tr.breaks}
                        li
                            img(src='images/Close-black.png' alt='')
                            | #{tr.wifi}
                        li
                            img(src='images/Close-black.png' alt='')
                            | #{tr.exclusive_seats}
                    button(onclick='moveToItem(1)') #{tr.buy_now}
                .plan
                    img(src='images/crown.png' alt='camera')
                    h2 #{tr.vip}
                    h1 $#{Math.floor(prices[2].price * (discount === undefined ? 1 : discount))}
                    p #{tr.including_taxes}
                    .included
                    ul
                        li
                            img(src='images/Check-grey.png' alt='')
                            | 02 #{tr.seats}
                        li
                            img(src='images/Check-grey.png' alt='')
                            | #{tr.breaks}
                        li
                            img(src='images/Check-grey.png' alt='')
                            | #{tr.wifi}
                        li
                            img(src='images/Check-grey.png' alt='')
                            | #{tr.exclusive_seats}
                    button(onclick='moveToItem(2)') #{tr.buy_now}
        #request.request
            if (discount !== undefined && discount !== 1)
                style.
                    .tariff div p:last-child {
                        color: #ffcc14;
                    }
            h1.main-point #{tr.leave_request}
            p #{tr.leave_request_text}
            .request-container
                .choose-tariff
                    h2 #{tr.choose_plan}
                    p #{tr.plan_text}
                    ul#tariffs
                        li.tariff(onclick='chooseItem(0)')
                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 32 32' fill='none')
                                g(clip-path='url(#clip0_429_176)')
                                    path(d='M7.33331 15.9998H5.33331V9.33317H2.66665V6.6665H10.6666V9.33317H7.99998V13.0598L21.084 9.5545L20.3106 6.6665H16V3.99984H21.304C21.6025 3.99325 21.8945 4.08704 22.1334 4.26618C22.3722 4.44532 22.5441 4.69944 22.6213 4.98784L24.692 12.7158L22.116 13.4052L21.7746 12.1305L7.33331 15.9998ZM6.66665 25.3332C7.37389 25.3332 8.05217 25.0522 8.55226 24.5521C9.05236 24.052 9.33331 23.3737 9.33331 22.6665C9.33331 21.9593 9.05236 21.281 8.55226 20.7809C8.05217 20.2808 7.37389 19.9998 6.66665 19.9998C5.9594 19.9998 5.28112 20.2808 4.78103 20.7809C4.28093 21.281 3.99998 21.9593 3.99998 22.6665C3.99998 23.3737 4.28093 24.052 4.78103 24.5521C5.28112 25.0522 5.9594 25.3332 6.66665 25.3332ZM6.66665 27.9998C5.25216 27.9998 3.8956 27.4379 2.89541 26.4377C1.89522 25.4375 1.33331 24.081 1.33331 22.6665C1.33331 21.252 1.89522 19.8955 2.89541 18.8953C3.8956 17.8951 5.25216 17.3332 6.66665 17.3332C8.08113 17.3332 9.43769 17.8951 10.4379 18.8953C11.4381 19.8955 12 21.252 12 22.6665C12 24.081 11.4381 25.4375 10.4379 26.4377C9.43769 27.4379 8.08113 27.9998 6.66665 27.9998ZM24 25.3332C25.0608 25.3332 26.0783 24.9117 26.8284 24.1616C27.5786 23.4114 28 22.394 28 21.3332C28 20.2723 27.5786 19.2549 26.8284 18.5047C26.0783 17.7546 25.0608 17.3332 24 17.3332C22.9391 17.3332 21.9217 17.7546 21.1716 18.5047C20.4214 19.2549 20 20.2723 20 21.3332C20 22.394 20.4214 23.4114 21.1716 24.1616C21.9217 24.9117 22.9391 25.3332 24 25.3332ZM24 27.9998C22.2319 27.9998 20.5362 27.2975 19.2859 26.0472C18.0357 24.797 17.3333 23.1013 17.3333 21.3332C17.3333 19.5651 18.0357 17.8694 19.2859 16.6191C20.5362 15.3689 22.2319 14.6665 24 14.6665C25.7681 14.6665 27.4638 15.3689 28.714 16.6191C29.9643 17.8694 30.6666 19.5651 30.6666 21.3332C30.6666 23.1013 29.9643 24.797 28.714 26.0472C27.4638 27.2975 25.7681 27.9998 24 27.9998Z' fill='#828282')
                                defs
                                    clippath#clip0_429_176
                                        rect(width='32' height='32' fill='white')
                            div
                                p #{tr.online}
                                p $#{Math.floor(prices[0].price * (discount === undefined ? 1 : discount))}
                        li.tariff(onclick='chooseItem(1)')
                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 32 32' fill='none')
                                g(clip-path='url(#clip0_429_190)')
                                    path(d='M25.3334 26.6668H6.66669V28.0002C6.66669 28.3538 6.52621 28.6929 6.27616 28.943C6.02611 29.193 5.68698 29.3335 5.33335 29.3335H4.00002C3.6464 29.3335 3.30726 29.193 3.05721 28.943C2.80716 28.6929 2.66669 28.3538 2.66669 28.0002V14.6668L5.97335 6.9495C6.17912 6.4695 6.5213 6.06048 6.95743 5.7732C7.39356 5.48593 7.90444 5.33303 8.42669 5.3335H23.5734C24.0951 5.33355 24.6055 5.48669 25.0411 5.77394C25.4767 6.06118 25.8184 6.46991 26.024 6.9495L29.3334 14.6668V28.0002C29.3334 28.3538 29.1929 28.6929 28.9428 28.943C28.6928 29.193 28.3536 29.3335 28 29.3335H26.6667C26.3131 29.3335 25.9739 29.193 25.7239 28.943C25.4738 28.6929 25.3334 28.3538 25.3334 28.0002V26.6668ZM26.6667 17.3335H5.33335V24.0002H26.6667V17.3335ZM5.56802 14.6668H26.432L23.5747 8.00016H8.42669L5.56935 14.6668H5.56802ZM8.66669 22.6668C8.13625 22.6668 7.62755 22.4561 7.25247 22.081C6.8774 21.706 6.66669 21.1973 6.66669 20.6668C6.66669 20.1364 6.8774 19.6277 7.25247 19.2526C7.62755 18.8775 8.13625 18.6668 8.66669 18.6668C9.19712 18.6668 9.70583 18.8775 10.0809 19.2526C10.456 19.6277 10.6667 20.1364 10.6667 20.6668C10.6667 21.1973 10.456 21.706 10.0809 22.081C9.70583 22.4561 9.19712 22.6668 8.66669 22.6668ZM23.3334 22.6668C22.8029 22.6668 22.2942 22.4561 21.9191 22.081C21.5441 21.706 21.3334 21.1973 21.3334 20.6668C21.3334 20.1364 21.5441 19.6277 21.9191 19.2526C22.2942 18.8775 22.8029 18.6668 23.3334 18.6668C23.8638 18.6668 24.3725 18.8775 24.7476 19.2526C25.1226 19.6277 25.3334 20.1364 25.3334 20.6668C25.3334 21.1973 25.1226 21.706 24.7476 22.081C24.3725 22.4561 23.8638 22.6668 23.3334 22.6668Z' fill='#828282')
                                defs
                                    clippath#clip0_429_190
                                        rect(width='32' height='32' fill='white')
                            div
                                p #{tr.standard}
                                p $#{Math.floor(prices[1].price * (discount === undefined ? 1 : discount))}
                        li.tariff(onclick='chooseItem(2)')
                            svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 32 32' fill='none')
                                g(clip-path='url(#clip0_429_143)')
                                    path(d='M20.6693 26.6666C19.7872 28.7764 18.1097 30.4539 16 31.3359C13.8902 30.4539 12.2127 28.7764 11.3306 26.6666H14.344C14.7786 27.3186 15.34 27.8826 16 28.3239C16.66 27.8839 17.2213 27.3186 17.6573 26.6666H20.6693ZM24 19.7399L26.6666 22.7639V25.3333H5.33331V22.7639L7.99998 19.7399V11.9999C7.99998 7.35594 11.3386 3.40394 16 1.93994C20.6613 3.40394 24 7.35594 24 11.9999V19.7399ZM23.0266 22.6666L21.3333 20.7466V11.9999C21.3333 8.90927 19.24 6.09327 16 4.77327C12.76 6.09327 10.6666 8.90794 10.6666 11.9999V20.7466L8.97331 22.6666H23.0266ZM16 14.6666C15.2927 14.6666 14.6145 14.3857 14.1144 13.8856C13.6143 13.3855 13.3333 12.7072 13.3333 11.9999C13.3333 11.2927 13.6143 10.6144 14.1144 10.1143C14.6145 9.61423 15.2927 9.33327 16 9.33327C16.7072 9.33327 17.3855 9.61423 17.8856 10.1143C18.3857 10.6144 18.6666 11.2927 18.6666 11.9999C18.6666 12.7072 18.3857 13.3855 17.8856 13.8856C17.3855 14.3857 16.7072 14.6666 16 14.6666Z' fill='#828282')
                                defs
                                    clippath#clip0_429_143
                                        rect(width='32' height='32' fill='white')
                            div
                                p #{tr.vip}
                                p $#{Math.floor(prices[2].price * (discount === undefined ? 1 : discount))}
                    div.promo-input-container
                        input#promo.promo-input(placeholder=placeholder = promo ? promo : tr.add_promo type='text' name='promo')
                        button(onclick='applyPromo()')
                            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                path(d='M12.172 7.00017L6.808 1.63617L8.222 0.222168L16 8.00017L8.222 15.7782L6.808 14.3642L12.172 9.00017H0V7.00017H12.172Z' fill='white')
                .credentials-form
                    h4 #{tr.fill_form}
                    form
                        input#name(autocomplete='on' placeholder=tr.name type='text' name='name')
                        input#email(autocomplete='on' placeholder=tr.email type='email' name='email')
                        input#phone(autocomplete='on' placeholder=tr.phone type='phone' name='phone')
                        div
                            a.main-button(onclick='submitApplication()') #{tr.pay}
                            p(id='total_price')

        #footer.section
        .footer
            h1 #{tr.questions_left}
            p #{tr.footer_text}
            button.main-button #{tr.contact_us}
            div
                a(href='#') Privacy Policy
                a(href='#') Terms &amp; Conditions
.side-bar.d-none.d-md-none.d-lg-block
    .reference-container
        a(href='https://www.facebook.com/', target='_blank')
            img(src='images/facebook.png' alt='facebook')
        a(href='https://www.instagram.com/', target='_blank')
            img(src='images/instagram.png' alt='instagram')
        a(href='https://twitter.com/', target='_blank')
            img(src='images/twitter.png' alt='twitter')
    .schedule-side-bar
